<head th:fragment="header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient</title>
    <link rel="shortcut icon" th:href="@{/img/logo/favicon.png}" href="#" type="image/x-icon">
    <script th:src="@{/js/fontawesome.min.js}" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/light-theme.css}" id="theme-link">
    <link rel="stylesheet" type="text/css" th:href="@{/boxicons/css/boxicons.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

    <script th:src="@{/js/jquery-3.7.0.min.js}"></script>
    <script th:src="@{/js/jquery.form.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

    <script th:src="@{/js/select2/select2.full.min.js}"></script>
    <script th:src="@{/js/select2/select2-placeholder.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/js/select2/select2.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/js/select2/select2-bootstrap5.css}">

    <link rel="stylesheet" th:href="@{/sweetalert/sweetalert2.min.css}">
    <script th:src="@{/sweetalert/sweetalert2.all.min.js}"></script>

    <link rel="stylesheet" th:href="@{/notice/notice.min.css}">
    <script th:src="@{/notice/notice.min.js}"></script>
    <script th:src="@{/js/loader.js}"></script>
    <script th:src="@{/js/messages.js}"></script>
</head>