<div th:if="${param.no_header == null}" th:fragment="menu (header)" class="fixed-top">
    <style>
        body{
            padding-top: 150px;
        }
    </style>
    <header class="d-flex justify-content-end flex-wrap">
        <div id="logo" class="d-none d-md-block">
            <a href="#" id="img">
            </a>
        </div>
        <div class="title ms-2 d-none d-md-block me-md-auto color_headline">
            <span th:text="${header}">header</span>
        </div>
    </header>
    <div id="main-menu">
        <nav class="navbar p-0 navbar-expand-md color_primary navbar-dark bg-dark">
            <div class="container-fluid">
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarCollapse" style="">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" th:href="@{/patient/patients.html}"
                               href="#">
                                <i class="nav-icon bx bx-calendar"></i>
                                <span class="nav-label">Patient</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" th:href="@{/disease/diseases.html}"
                               href="#">
                                <i class="nav-icon bx bx-calendar"></i>
                                <span class="nav-label">Disease</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

